@{
    ViewData["Title"] = "Home Page";
}
@model BOL.StatisticsBOL;

<div class="row text-center">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    Total responses
                </div>
                <h1 class="card-text">@Model.Actuals</h1>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    Total salons
                </div>
                <h1 class="card-text">@Model.Salons</h1>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    Last Response
                </div>
                <h1 class="card-text">@Model.LastResponse.ToString()</h1>
            </div>
        </div>
    </div>
</div>